<div class="max-w-4xl mx-auto bg-white p-6 rounded-lg shadow-md text-center" hidden id="container-form">
  <span id="edit-text" class="text-lg font-bold mb-3" hidden></span>
  <form id="create-form" class="space-y-6">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
      <div>
        <label
          for="grid-first-name"
          class="block text-sm font-medium text-gray-700"
        >
          First Name
        </label>
        <input
          type="text"
          id="grid-first-name"
          name="name_"
          placeholder="Jane"
          class="mt-1 p-2 w-full rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring-blue-500 sm:text-sm bg-gray-50"
        />
      </div>

      <div>
        <label
          for="grid-last-name"
          class="block text-sm font-medium text-gray-700"
        >
          Last Name
        </label>
        <input
          type="text"
          id="grid-last-name"
          name="lastname"
          placeholder="Doe"
          class="mt-1 p-2 w-full rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring-blue-500 sm:text-sm bg-gray-50"
        />
      </div>

      <div>
        <label
          for="grid-identification"
          class="block text-sm font-medium text-gray-700"
        >
          Identification
        </label>
        <input
          type="text"
          id="grid-identification"
          name="identification"
          placeholder="123456789"
          class="mt-1 p-2 w-full rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring-blue-500 sm:text-sm bg-gray-50"
        />
      </div>
    </div>
  </form>

  <!-- Botón de crear -->
  <div class="mt-6">
    <button
      type="button"
      id="sendForm"
      class="w-full inline-flex justify-center items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 transition"
    >
      Submit
    </button>
    <button
      type="button"
      id="cancelForm_1"
      class="inline-flex justify-center items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-yellow-600 hover:bg-yellow-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500 transition"
    >
      Cancel
    </button>
  </div>

  <!-- Botones de edición -->
  <div id="btn-container" class="mt-4 flex justify-center space-x-4" hidden>
    <button
      type="button"
      id="editForm"
      class="inline-flex justify-center items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-emerald-600 hover:bg-emerald-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-emerald-500 transition"
    >
      Send changes
    </button>
    <button
      type="button"
      id="cancelForm"
      class="inline-flex justify-center items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-red-600 hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500 transition"
    >
      Cancel
    </button>
  </div>
</div>

<div class="container mx-2 my-3 px-3">
  <div class="container w-full rounded-lg grid grid-cols-3 gap-3 py-2">
    <div class="grid-cols-1">
      <div>
        <input
          type="text"
          id="search"
          name="search"
          placeholder="Buscar por nombre o identificación..."
          class="mt-1 p-2 w-full rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring-blue-500 sm:text-sm bg-gray-50"
        />
      </div>
    </div>
    <div class="col-span-2 grid justify-items-end px-3">
      <!-- filtros por selects -->
       <button class="bg-emerald-400 cursor-pointer px-4 rounded-lg" id="create-button">Crear</button>
    </div>
  </div>
  <table id="table-employee" class="min-w-full bg-white border border-gray-100">
    <thead>
      <tr class="bg-gray-200 text-gray-600 uppercase text-sm leading-normal">
        <th class="py-3 px-6 text-center">Name</th>
        <th class="py-3 px-6 text-center">Lastname</th>
        <th class="py-3 px-6 text-center">Identification</th>
        <th class="py-3 px-6 text-center">Created</th>
        <th class="py-3 px-6 text-center">Actions</th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>
</div>
